table,th,td
{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: ;
	vertical-align: top;
	padding: 5px;
}

body
{
	background-color: white;
}

du
{
    text-decoration-line: underline;
    text-decoration-style: double;
}

a
{
	color: darkblue;
}